
ul{
	list-style-type: none;
	text-align: right;
	margin-top: 25px;
}
a{
	text-decoration: none;
	color: #0080ff;

}

#sidebar {
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #45d9fd;
    padding-top: 50px;
    padding-right: 10px;
    border-right: 10px solid #274555;
    
}
#sidebar h1{
	text-align: left;
	font-weight: bolder;
	color: #fff;

}

#sidebar ul li a{

	text-decoration:  none;
	font-size: 25px;
	color: #333;
	font-weight: bolder;
}

#main-content{
	margin-left: 240px;


}

 .header  {
  	padding-left: 20px;
    border-bottom: 3px solid #274555;
    
    margin-bottom: 10px;
    color: #9eafba;
   

}

.header p{
	font-size: 25px;
	font-weight: bolder;
	width: 400px;
}

.header a {
  	padding-left: 20px;
  	padding-bottom: 15px;

   font-weight: bolder;
    
    color: #9eafba;
   

}

/*------------
content
--------------*/
.post_wrapper{
	padding-left: 35px;
	padding-right: 35px;


}
.post_wrapper h2{
	font-family: 'Lalezar', cursive;
}





.show h1{
	font-family: 'Lalezar', cursive;
}
.home .message{
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: #fff;
	
}
.show #message{
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: #08182b;
	
}
.home{
	border:solid ;
	border-width: 3px;
	border-color: #08182b;
	background-color: #2b90d9;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 15px;
}
.home a{
	color:#08182b;
}

.date{
	font-size: 12px;
}


/*-----
form
-----*/

input[type="submit"]
{
	   
    background: transparent;
    border: 5px solid #263959;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 15px;
    margin-left: .5em;
    margin-top: 15px;

}
input[type="text"]{
	border-radius: 5px;
	height: 25px;
	border-color:#9baec8 ;
	border-width: 5px;
	border-style: solid;
	margin-bottom: 20px;
	margin-top: 15px;
}

textarea{
	border-radius: 5px;
	height: 250px;
	width: 500px;
	border-color:#9baec8 ;
	border-width: 5px;
	margin-top: 15px;
	font-family: 'Open Sans', sans-serif;
}

label{
	font-size: 25px;
	margin-bottom: 30px;

}

/*-----
login/logout
------*/
.field input{
	border-radius: 5px;
	width: 300px;
	height: 25px;
	border-color:#9baec8 ;
	border-width: 5px;
	border-style: solid;
	margin-bottom: 20px;
	margin-top: 15px;
}
